*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.book {
    --color: #fff;
    --duration: 6.8s;
    width: 32px;
    height: 12px;
    position: relative;
    margin: 32px 0 0 0;
    z-index: 999;
    //Demo
    // zoom: 1.5;
    .inner {
        width: 32px;
        height: 12px;
        position: relative;
        transform-origin: 2px 2px;
        transform: rotateZ(-90deg);
        animation: book var(--duration) ease infinite;
        .left,
        .right {
            width: 60px;
            height: 4px;
            top: 0;
            border-radius: 2px;
            background: var(--color);
            position: absolute;
            &:before {
                content: '';
                width: 48px;
                height: 4px;
                border-radius: 2px;
                background: inherit;
                position: absolute;
                top: -10px;
                left: 6px;
            }
        }
        .left {
            right: 28px;
            transform-origin: 58px 2px;
            transform: rotateZ(90deg);
            animation: left var(--duration) ease infinite;
        }
        .right {
            left: 28px;
            transform-origin: 2px 2px;
            transform: rotateZ(-90deg);
            animation: right var(--duration) ease infinite;
        }
        .middle {
            width: 32px;
            height: 12px;
            border: 4px solid var(--color);
            border-top: 0;
            border-radius: 0 0 9px 9px;
            transform: translateY(2px);
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 50%;
        top: 0;
        li {
            height: 4px;
            border-radius: 2px;
            transform-origin: 100% 2px;
            width: 48px;
            right: 0;
            top: -10px;
            position: absolute;
            background: var(--color);
            transform: rotateZ(0deg) translateX(-18px);
            animation-duration: var(--duration);
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            $i: 0;
            @while $i < 19 {
                &:nth-child(#{$i}) {
                    animation-name: page-#{$i};
                }
                $i: $i + 1;
            }
        }
    }
}

$i: 0;
@while $i < 19 {
    $delay: $i * 1.86;
    $delay-after: $i * 1.74;
    @keyframes page-#{$i} {
        #{4 + $delay}% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        #{13 + $delay-after}%,
        #{54 + $delay}% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        #{63 + $delay-after}% {
            transform: rotateZ(0deg) translateX(-18px);
        }
    }
    $i: $i + 1;
}

@keyframes left {
    4% {
        transform: rotateZ(90deg);
    }
    10%,
    40% {
        transform: rotateZ(0deg);
    }
    46%,
    54% {
        transform: rotateZ(90deg);
    }
    60%,
    90% {
        transform: rotateZ(0deg);
    }
    96% {
        transform: rotateZ(90deg);
    }
}

@keyframes right {
    4% {
        transform: rotateZ(-90deg);
    }
    10%,
    40% {
        transform: rotateZ(0deg);
    }
    46%,
    54% {
        transform: rotateZ(-90deg);
    }
    60%,
    90% {
        transform: rotateZ(0deg);
    }
    96% {
        transform: rotateZ(-90deg);
    }
}

@keyframes book {
    4% {
        transform: rotateZ(-90deg);
    }
    10%,
    40% {
        transform: rotateZ(0deg);
        transform-origin: 2px 2px;
    }
    40.01%,
    59.99% {
        transform-origin: 30px 2px;
    }
    46%,
    54% {
        transform: rotateZ(90deg);
    }
    60%,
    90% {
        transform: rotateZ(0deg);
        transform-origin: 2px 2px;
    }
    96% {
        transform: rotateZ(-90deg);
    }
}


.myload{
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151A27;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100vh;
   
}

body{
    overflow-y: hidden;
    
}

.scrollBtn{

    width: 60px;
    height: 60px;
    border-radius: 50%;
    // border: 2px solid red;    
    
    position: fixed;
    right: 35px;
    bottom: -150px ;
    cursor: pointer;
    transition: .5s ease-in-out;
    img{
 
        border-radius: 50%;
    }
}



#header {
    background-color: #21283B;
  
    .top-head {
      
      .logo {
        a {
          color: #fff;
          font-weight: 700;
          text-decoration: none;
        }
      }
  
      .searches {
        form {
          display: inline-block;
          width: 100%;
          position: relative;
  
          input {
            border: 1px solid #e1e8ed;
            border-radius: 30px;
            padding: 10px 20px 10px 43px;
            width: 130%;
            background-color: #21283B;
            border: 1px solid #999;
          
          }
  
          i {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 15px;
            color: #ccc;
          }
        }
      }
  
      ul {
        li {
          margin-left: 10px;
          color: #088DCD;
          border: 1px solid #999;
          padding: 5px 10px;
          border-radius: 25px;
          background-color: #21283B;
         
          cursor: pointer;
  
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
  
            .ico {
              animation: mymove .7s ease-in-out forwards;
            }
          }
  
          img {
            border-radius: 50%;
          }
  
          .tooltiptext {
            visibility: hidden;
            width: 80px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            top: 60px;
            z-index: 1;
            font-size: 0.8rem;
          }
  
          &.last {
            position: relative;
  
            &:hover {
              .dropdown {
                visibility: visible;
                opacity: 1;
              }
            }
  
            .dropdown {
              background: #21283b;
              color: #fff;
              border-radius: 8px;
              box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
              padding: 15px;
              position: absolute;
              right: 0px;
              top: 120%;
              width: 320px;
              z-index: 2;
              opacity: 0;
              visibility: hidden;
              transition: .3s ease-in-out;
  
              li {
                display: inline-block;
                width: 80px;
                margin-right: 4px;
                margin-bottom: 8px;
     
                text-align: center;
                padding: 7px;
                background-color: #293249;
                border: none;
                border-radius: 5px;
  
                a {
                  border-radius: 5px;
                  color: #fff;
                  font-size: 10px;
                  text-align: center;
                  text-decoration: none;
  
                  i {
                    display: block;
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: #088DCD;
  
                  }
                }
              }
  
            }
          }
  
        }
      }
    }
  
    .bottom-head {
      background-color: #0D1323;
  
      .categories {
        .cat-item {
          margin-left: 70px;
          text-align: center;
          position: relative;
          cursor: pointer;
          width: 90px;
          border-bottom: 3px solid transparent;
  
          &:hover {
            border-bottom: 3px solid #088DCD;
  
            a {
              overflow-y: hidden;
  
              i {
                transform: translateY(-22px);
              }
  
              p {
                transform: translateY(-12px);
                visibility: visible;
                opacity: 1;
             
              }
            }
          }
  
          a {
            text-decoration: none;
            color: #fff;
            position: relative;
            display: block;
            overflow-y: hidden;
  
            i {
              transform: translateY(15px);
              transition: .3s ease-in-out;
              font-size: 22px;
            }
  
            p {
              transform: translateY(24px);
              font-size: 14px;
    
              visibility: hidden;
              transition: .3s ease-in-out;
              line-height: 24px;
              font-weight: 500;
              opacity: 0;
  
            }
  
          }
  
        }
      }
    }
  
  }
  